.navbar-item{
    padding-left: 50px;
    font-size: 17px;
}
.navbar-item2{
    padding-left: 50px;
    font-size: 17px;
}
.grup{
    display: flex;
    padding-left: 210px;
}

.register-form{
    margin-top:50px;
    margin-left: 250px;
    margin-right:250px;
}


